<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="Alerts on error, success with bootstrap.">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Custom Theme files-->
<link href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" rel="stylesheet" media="all">
<link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="all">
<link href="{{url_for('static', filename='css/menu.css')}}" rel="stylesheet" type="text/css" media="all" />
<!--//Custom Theme files-->
<!--js-->
<script src="{{url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
<script src="{{url_for('static', filename='js/SmoothScroll.min.js')}}"></script>
<!--//js-->
<!---<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>--->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="{{url_for('static', filename='js/move-top.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/easing.js')}}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
</head>
<body>
	<!--banner-->
	<div class="banner about-banner">
		<!--header-->
		<div class="header">
			<div class="container">
				<div class="logo">
					<h1><a href="/">Manage <span>System</span></a></h1>
				</div>
				<div class="social-icons">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="fb"> </a></li>
						<li><a href="#" class="in"> </a></li>
						<li><a href="#" class="dott"> </a></li>
					</ul>
				</div>
				<div class="menu">
					<div class="overlay-navigation">
						<nav role="navigation">
							<ul>
								<li><a href="/" data-content="Go Home">Home</a></li>
								<li><a href="/rentCarDelete" data-content="Delete Customer">Delete</a></li>
                                <li><a href="/rentCarRead" data-content="Read Customer">Read</a></li>
								<li><a href="/rentCarUpdate" data-content="Update Customer">Updata</a></li>
                                <li><a href="/query" data-content="Query Customer">Query</a></li>
							</ul>
						</nav>
					</div>
					<section class="main">
						<div class="open-overlay"> <span class="bar-top"></span> <span class="bar-middle"></span> <span class="bar-bottom"></span> </div>
					</section>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--//header-->
		<!--banner-text-->
		<div class="banner-text about-banner-text">
			<div class="container">
				<h2><a href="/">Home</a><span> / </span>Rent Car Table<span> / </span><span>Create</span></h2>
			</div>
		</div>
		<!--//banner-text-->
	</div>
	<!--//banner-->
	<!--contact-->
	<div class="address"><!--address-->
		<div class="container">
			<div class="address-row">
					<div class="address-grid" style="width:60%;margin:0px auto">
						<h4>Add a Car Rent</h4>
                        {% if information %}
                        {% if information == 1 %}
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Success!</strong> You have successfully created it.
                        </div>
                        {% else %}
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Error!</strong> Cannot create it.
                        </div>
                        {% endif %}
                        {% endif %}
                        <form action = "/rentCarCreate" method = "POST">
                            <input type = "text" name = "orderNo" maxlength = "30" placeholder="Order Number" autofocus>
                            <input type = "text" name = "VIN" maxlength = "30" placeholder="VIN">
                            <input type = "text" name = "company" maxlength = "30" placeholder="Company">
                            <input type = "text" name = "carType" maxlength = "30" placeholder="Car Type">
                            <input type = "text" name = "capacity" maxlength = "30" placeholder="Capacity">
                            <input type = "text" name = "prictTotal" maxlength = "30" placeholder="Total Price">
                            <label>Rent Date: </label>
                            <input type = "date" name = "rentDate"><br/>
                            <label>Return Date: </label>
                            <input type = "date" name = "returnDate"><br/>
                            <input type = "text" name = "rentPlace" maxlength = "30" placeholder="Rent Place">
                            <input type = "text" name = "returnPlace" maxlength = "30" placeholder="returnPlace">
                            <input type = "text" name = "rentBy" maxlength = "30" placeholder="Rent By">
                            <input type = "submit" value = "Create">
							</form>
					</div>
			</div>
		</div>	
	</div>
	<!--//contact-->	
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-info">
				<div class="col-md-4 footer-grids">
					<h3>More About Us</h3>
					<p>Nulla facilisi. Mauris pretium cursus tincidunt. Nam malesuada purus sit amet est rhoncus vulputate. Duis sit amet porttitor urna. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent dictum eros ac nisi scelerisque, eu imperdiet elit tempus.</p>
				</div>
				<div class="col-md-4 footer-grids">
					<h3>Popular Items</h3>
					<div class="footer-grd">
						<a href="single.html">
							<img src="{{url_for('static', filename='images/f1.jpg')}}" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="single.html">
							<img src="{{url_for('static', filename='images/f2.jpg')}}" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="single.html">
							<img src="{{url_for('static', filename='images/f3.jpg')}}" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
					<div class="footer-grd">
						<a href="single.html">
							<img src="{{url_for('static', filename='images/f4.jpg')}}" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="single.html">
							<img src="{{url_for('static', filename='images/f5.jpg')}}" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="single.html">
							<img src="{{url_for('static', filename='images/f6.jpg')}}" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-grids footer-address">
					<h3>Contact Us:</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pellentesque nisi at tortor suscipit ultricies.</p>
					<ul>
						<li> 123 San ,West street</li>
						<li>Sebastian dolor</li>
						<li> New York City, USA. </li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//footer-->
	<!--footer-nav-->
	<div class="footer-nav">
		<div class="container">
			<div class="footer-nav-left">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="codes.html">Codes</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="footer-nav-right">
				<h4><a href="/">Trendy <span>Look</span></a></h4>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//footer-nav-->
	<div class="footer-copy">
		<div class="container">
			<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
		</div>
	</div>
	<!--nav-script-->
	<script>
		$('.open-overlay').click(function() {
		  var overlay_navigation = $('.overlay-navigation'),
			nav_item_1 = $('nav li:nth-of-type(1)'),
			nav_item_2 = $('nav li:nth-of-type(2)'),
			nav_item_3 = $('nav li:nth-of-type(3)'),
			nav_item_4 = $('nav li:nth-of-type(4)'),
			nav_item_5 = $('nav li:nth-of-type(5)'),
			top_bar = $('.bar-top'),
			middle_bar = $('.bar-middle'),
			bottom_bar = $('.bar-bottom');

		  overlay_navigation.toggleClass('overlay-active');
		  if (overlay_navigation.hasClass('overlay-active')) {

			top_bar.removeClass('animate-out-top-bar').addClass('animate-top-bar');
			middle_bar.removeClass('animate-out-middle-bar').addClass('animate-middle-bar');
			bottom_bar.removeClass('animate-out-bottom-bar').addClass('animate-bottom-bar');
			overlay_navigation.removeClass('overlay-slide-up').addClass('overlay-slide-down')
			nav_item_1.removeClass('slide-in-nav-item-reverse').addClass('slide-in-nav-item');
			nav_item_2.removeClass('slide-in-nav-item-delay-1-reverse').addClass('slide-in-nav-item-delay-1');
			nav_item_3.removeClass('slide-in-nav-item-delay-2-reverse').addClass('slide-in-nav-item-delay-2');
			nav_item_4.removeClass('slide-in-nav-item-delay-3-reverse').addClass('slide-in-nav-item-delay-3');
			nav_item_5.removeClass('slide-in-nav-item-delay-4-reverse').addClass('slide-in-nav-item-delay-4');
		  } else {
			top_bar.removeClass('animate-top-bar').addClass('animate-out-top-bar');
			middle_bar.removeClass('animate-middle-bar').addClass('animate-out-middle-bar');
			bottom_bar.removeClass('animate-bottom-bar').addClass('animate-out-bottom-bar');
			overlay_navigation.removeClass('overlay-slide-down').addClass('overlay-slide-up')
			nav_item_1.removeClass('slide-in-nav-item').addClass('slide-in-nav-item-reverse');
			nav_item_2.removeClass('slide-in-nav-item-delay-1').addClass('slide-in-nav-item-delay-1-reverse');
			nav_item_3.removeClass('slide-in-nav-item-delay-2').addClass('slide-in-nav-item-delay-2-reverse');
			nav_item_4.removeClass('slide-in-nav-item-delay-3').addClass('slide-in-nav-item-delay-3-reverse');
			nav_item_5.removeClass('slide-in-nav-item-delay-4').addClass('slide-in-nav-item-delay-4-reverse');
		  }
		})
	</script>
	<!--nav-script-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-alert.js')}}"></script>
</body>
</html>
